<!DOCTYPE html>
<html><head><title>joekychen/linux » include › linux › kconfig.h

</title>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="generator" content="Docco">
<link rel="stylesheet" media="all" href="../../stylesheets/docco.min.css" />


</head>
<body>
<div id="container">
<div id="background"></div>
<table cellpadding="0" cellspacing="0">
<thead><tr><th class="docs"><a id="home" href="../../index.html"></a><h1>kconfig.h</h1></th><th class="code"></th></tr></thead>
<tbody>


<tr id="section-1"><td class="docs"><div class="pilwrap"><a class="pilcrow" href="#section-1">&#182;</a></div></td><td class="code"><div class="highlight"><pre><span class="cp">#ifndef __LINUX_KCONFIG_H</span>
<span class="cp">#define __LINUX_KCONFIG_H</span>

<span class="cp">#include &lt;generated/autoconf.h&gt;</span>

<span class="cm">/*</span>
<span class="cm"> * Helper macros to use CONFIG_ options in C/CPP expressions. Note that</span>
<span class="cm"> * these only work with boolean and tristate options.</span>
<span class="cm"> */</span>

<span class="cm">/*</span>
<span class="cm"> * Getting something that works in C and CPP for an arg that may or may</span>
<span class="cm"> * not be defined is tricky.  Here, if we have &quot;#define CONFIG_BOOGER 1&quot;</span>
<span class="cm"> * we match on the placeholder define, insert the &quot;0,&quot; for arg1 and generate</span>
<span class="cm"> * the triplet (0, 1, 0).  Then the last step cherry picks the 2nd arg (a one).</span>
<span class="cm"> * When CONFIG_BOOGER is not defined, we generate a (... 1, 0) pair, and when</span>
<span class="cm"> * the last step cherry picks the 2nd arg, we get a zero.</span>
<span class="cm"> */</span>
<span class="cp">#define __ARG_PLACEHOLDER_1 0,</span>
<span class="cp">#define config_enabled(cfg) _config_enabled(cfg)</span>
<span class="cp">#define _config_enabled(value) __config_enabled(__ARG_PLACEHOLDER_##value)</span>
<span class="cp">#define __config_enabled(arg1_or_junk) ___config_enabled(arg1_or_junk 1, 0)</span>
<span class="cp">#define ___config_enabled(__ignored, val, ...) val</span>

<span class="cm">/*</span>
<span class="cm"> * IS_ENABLED(CONFIG_FOO) evaluates to 1 if CONFIG_FOO is set to &#39;y&#39; or &#39;m&#39;,</span>
<span class="cm"> * 0 otherwise.</span>
<span class="cm"> *</span>
<span class="cm"> */</span>
<span class="cp">#define IS_ENABLED(option) \</span>
<span class="cp">	(config_enabled(option) || config_enabled(option##_MODULE))</span>

<span class="cm">/*</span>
<span class="cm"> * IS_BUILTIN(CONFIG_FOO) evaluates to 1 if CONFIG_FOO is set to &#39;y&#39;, 0</span>
<span class="cm"> * otherwise. For boolean options, this is equivalent to</span>
<span class="cm"> * IS_ENABLED(CONFIG_FOO).</span>
<span class="cm"> */</span>
<span class="cp">#define IS_BUILTIN(option) config_enabled(option)</span>

<span class="cm">/*</span>
<span class="cm"> * IS_MODULE(CONFIG_FOO) evaluates to 1 if CONFIG_FOO is set to &#39;m&#39;, 0</span>
<span class="cm"> * otherwise.</span>
<span class="cm"> */</span>
<span class="cp">#define IS_MODULE(option) config_enabled(option##_MODULE)</span>

<span class="cp">#endif </span><span class="cm">/* __LINUX_KCONFIG_H */</span><span class="cp"></span>

</pre></div></td></tr>

</tbody>
</table>
</div>

</body>
<script>docas={repo:"joekychen/linux",depth:2}</script>
<script>document.write('<script src=' + ('__proto__' in {} ? 'http://cdnjs.cloudflare.com/ajax/libs/zepto/1.0rc1/zepto.min.js' : 'https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')+'><\\/script>')</script>
<script src="http://baoshan.github.com/moment/min/moment.min.js"></script>
<script src="../../javascript/docco.min.js"></script>
</html>
